<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.productionreport.bd">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SignInAfterPasswordRecovery"></activity>
        <activity android:name=".PasswordRecovery" />
        <activity android:name=".MonthlyReportResult" />
        <activity android:name=".MonthlyReport" />
        <activity android:name=".DailyReportResult" />
        <activity android:name=".DailyReport" />
        <activity android:name=".ShiftData" />
        <activity android:name=".EditValue" />
        <activity android:name=".Hourly" />
        <activity android:name=".AddData" />
        <activity android:name=".SectionDetailSupervisor" />
        <activity android:name=".SectionDetailCreator" />
        <activity android:name=".Sections" />
        <activity android:name=".ApproveMember" />
        <activity android:name=".AllMembers" />
        <activity android:name=".AddOrder" />
        <activity android:name=".HomeSupervisor" />
        <activity android:name=".HomeCreator" />
        <activity android:name=".HomePageSelector" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".JoinBusiness" />
        <activity android:name=".RegisterBusiness" />
        <activity android:name=".CreateJoinFactory" />
        <activity android:name=".EmailVerification" />
        <activity android:name=".SignUp" />
        <activity android:name=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>